* {
    box-sizing: border-box;
}

html {
    font: $fontSize $fontFamily;
    color: $white;
}

html, body {
    min-height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    background: $backgroundColor url('/media/background.jpg') center no-repeat;
    background-size: cover;
    line-height: 1.6;
    // overflow: hidden;
}

a {
    color: $white;
    text-decoration: none;
}

.all {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;

    &__content {
        flex: 1;
        display: flex;
        flex-direction: column;
        padding: rem(20px);
    }
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    width: 90%;
    height: 100%;
    margin: 0 auto;
}
