* {
    box-sizing: border-box;
}

html {
    font: $fontSize $fontFamily;
    color: $white;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background: url('/media/background.jpg') center no-repeat;
    background-size: cover;
    line-height: 1.6;
    overflow: hidden;
}

a {
    color: $white;
    text-decoration: none;
}

.all {
    flex: 1 0 auto;

    &__content {
        height: 100%;
        padding: rem(20px);
    }
}

.container {
    max-width: 1000px;
    width: 90%;
    height: 100%;
    margin: 0 auto;
}
