// Глобальные переменные
$fontSize: 16px;
$fontFamily: 'Roboto', Arial, sans-serif;
$duration: .2s;

$backgroundColor: #091541;
$black: #000;
$blue: #477ec8;
$blueDark: #3864a0;
$green: #47c87e;
$greenDark: #38a064;
$red: #d73524;
$redDark: #ac2a1c;
$white: #fff;

// Глобальные функции
@function rem($font: $fontSize) {
    @return ($font / $fontSize) + rem;
}

// Глобальные миксины
@mixin center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
