.cookie {
    width: 20%;
    min-width: rem(400px);
    font-weight: bold;
    background-color: rgba(255, 255, 255, .8);
    color: $black;
    padding: rem(30px) rem(20px);
    border: rem(2px) solid $black;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: opacity $duration;
}
